@font-face {
    font-family: 'Ebrima';
    src: url('ebrima-webfont.eot');
    src: url('ebrima-webfont.eot?#iefix') format('embedded-opentype'),
         url('ebrima-webfont.woff') format('woff'),
         url('ebrima-webfont.ttf') format('truetype'),
         url('ebrima-webfont.svg#ebrimaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Fix para renderizar somente a fonte em SVG no Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Ebrima';
            src: url('ebrima-webfont.svg#ebrimaregular') format('svg');
    }
}