@import 'vars.less';

html{
	body{
		.centro{
			.centralizar;
			header{
				border-top:5px #4D4D4D solid;
				height:125px;
				position:relative;
				#link-logo{
					position:absolute;
					top:35px;
					left:0;
					width:135px;
					height:60px;
					a{
						display:block;
						.transition;
						width:160px;
						height:70px;
						img{
							max-width:160px;
							max-height:70px;
						}
					}
				}
				#social{
					font-size:0;
					width:55px;
					height:20px;
					position:absolute;
					right:0;
					top:15px;
					a{
						.inline;
						margin-right:7px;
						width:20px;
						height:20px;
						.transition;
						img{
							max-width:20px;
							max-height:20px;
						}
					}
				}
				nav{
					position:absolute;
					bottom:20px;
					right:0;
					ul{
						height:35px;
						float:right;
						li{
							.inline;
							height:35px;
							a{
								text-align:center;
								color:@cinza_menu;
								text-decoration: none;
								display:block;
								padding:0 13px;
								height:35px;
								line-height:35px;
								position:relative;
								.ebrima(18px);
								.transition;
								&:active, &:visited{color:@cinza_menu;}
								&:hover, &.ativo{
									color:@amarelo;
									font-weight: bold;
									&:after{opacity:1;}
								}
								&:after{
									content:"";
									display:block;
									width:100%;
									position:absolute;
									height:5px;
									background:@amarelo;
									left:0px;
									top:-75px;
									opacity:0;
									.transition;
								}
							}
						}
					}
				}
			}
			.main{
				.naoencontrado{
					text-align:center;
					padding:150px 0 250px 0;
					.ebrima(35px);
					color:@cinza;
				}
			}
			footer{
				#newsletter{
					background:#F0F0F0;
					padding:8px 38px;
					.ebrima(12px);
					color:@cinza;
					form{
						span{margin-right:30px;}
						input[type="text"],
						input[type="email"]{
							border:1px #B8B8B8 solid;
							background:#fff;
							padding:3px 5px;
							height:15px;
							line-height:18px;
							color:@cinza;
							margin:0 7px 0 0;
							width:285px;
							.ebrima(12px);
							.placeholder(@cinza);
						}
						input[type="submit"]{
							.inline;
							border:1px #B8B8B8 solid;
							background:url('../images/layout/seta.png') #fff center center no-repeat;
							width:28px;
							padding:0;
							margin:0;
							height:23px;
							text-indent:-999px;
							overflow: hidden;
							cursor:pointer;
							.transition;
							&:hover{background-color:@amarelo}
						}
					}
				}
				#apoio{
					padding:30px 0 25px 0;
					img{
						margin-right:50px;
					}
				}
				.inferior{
					border-top:1px #757577 solid;
					padding-top:5px;
					position:relative;
					min-height:75px;
					.copy{
						.inline;
						line-height:140%;
						width:215px;
						margin-left:20px;
						.ebrima(11px);
						color:@cinza;
					}
					.endereco{
						.inline;
						line-height:140%;
						width:300px;
						.ebrima(11px);
						color:@cinza;
					}
					.assinatura{
						width:200px;
						line-height:140%;
						position:absolute;
						top:5px;
						right:20px;
						text-align:right;
						.ebrima(11px);
						color:@cinza;
						a{
							text-decoration:none;	
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@amarelo;}
						}
					}
				}
			}
		}
	}
}