.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
html body .centro header {
  border-top: 5px #4D4D4D solid;
  height: 125px;
  position: relative;
}
html body .centro header #link-logo {
  position: absolute;
  top: 35px;
  left: 0;
  width: 135px;
  height: 60px;
}
html body .centro header #link-logo a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 160px;
  height: 70px;
}
html body .centro header #link-logo a img {
  max-width: 160px;
  max-height: 70px;
}
html body .centro header #social {
  font-size: 0;
  width: 55px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 15px;
}
html body .centro header #social a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .centro header #social a img {
  max-width: 20px;
  max-height: 20px;
}
html body .centro header nav {
  position: absolute;
  bottom: 20px;
  right: 0;
}
html body .centro header nav ul {
  height: 35px;
  float: right;
}
html body .centro header nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 35px;
}
html body .centro header nav ul li a {
  text-align: center;
  color: #606062;
  text-decoration: none;
  display: block;
  padding: 0 13px;
  height: 35px;
  line-height: 35px;
  position: relative;
  font-family: 'Ebrima', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .centro header nav ul li a:active,
html body .centro header nav ul li a:visited {
  color: #606062;
}
html body .centro header nav ul li a:hover,
html body .centro header nav ul li a.ativo {
  color: #fbb12f;
  font-weight: bold;
}
html body .centro header nav ul li a:hover:after,
html body .centro header nav ul li a.ativo:after {
  opacity: 1;
}
html body .centro header nav ul li a:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 5px;
  background: #fbb12f;
  left: 0px;
  top: -75px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .centro .main .naoencontrado {
  text-align: center;
  padding: 150px 0 250px 0;
  font-family: 'Ebrima', sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: #727376;
}
html body .centro footer #newsletter {
  background: #F0F0F0;
  padding: 8px 38px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #727376;
}
html body .centro footer #newsletter form span {
  margin-right: 30px;
}
html body .centro footer #newsletter form input[type="text"],
html body .centro footer #newsletter form input[type="email"] {
  border: 1px #B8B8B8 solid;
  background: #fff;
  padding: 3px 5px;
  height: 15px;
  line-height: 18px;
  color: #727376;
  margin: 0 7px 0 0;
  width: 285px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .centro footer #newsletter form input[type="text"]::-webkit-input-placeholder,
html body .centro footer #newsletter form input[type="email"]::-webkit-input-placeholder {
  color: #727376;
}
html body .centro footer #newsletter form input[type="text"]:-moz-placeholder,
html body .centro footer #newsletter form input[type="email"]:-moz-placeholder {
  color: #727376;
}
html body .centro footer #newsletter form input[type="text"]::-moz-placeholder,
html body .centro footer #newsletter form input[type="email"]::-moz-placeholder {
  color: #727376;
}
html body .centro footer #newsletter form input[type="text"]:-ms-input-placeholder,
html body .centro footer #newsletter form input[type="email"]:-ms-input-placeholder {
  color: #727376;
}
html body .centro footer #newsletter form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #B8B8B8 solid;
  background: url('../images/layout/seta.png') #ffffff center center no-repeat;
  width: 28px;
  padding: 0;
  margin: 0;
  height: 23px;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .centro footer #newsletter form input[type="submit"]:hover {
  background-color: #fbb12f;
}
html body .centro footer #apoio {
  padding: 30px 0 25px 0;
}
html body .centro footer #apoio img {
  margin-right: 50px;
}
html body .centro footer .inferior {
  border-top: 1px #757577 solid;
  padding-top: 5px;
  position: relative;
  min-height: 75px;
}
html body .centro footer .inferior .copy {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  line-height: 140%;
  width: 215px;
  margin-left: 20px;
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #727376;
}
html body .centro footer .inferior .endereco {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  line-height: 140%;
  width: 300px;
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #727376;
}
html body .centro footer .inferior .assinatura {
  width: 200px;
  line-height: 140%;
  position: absolute;
  top: 5px;
  right: 20px;
  text-align: right;
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #727376;
}
html body .centro footer .inferior .assinatura a {
  text-decoration: none;
  color: #727376;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .centro footer .inferior .assinatura a:active,
html body .centro footer .inferior .assinatura a:visited {
  color: #727376;
}
html body .centro footer .inferior .assinatura a:hover {
  color: #fbb12f;
}
