.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .list {
  font-size: 0;
}
html body .list a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 240px;
  height: 240px;
  margin: 0 6px 6px 0;
  position: relative;
}
html body .list a:nth-child(4n) {
  margin-right: 0;
}
html body .list a img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 240px;
  max-height: 240px;
  z-index: 1;
}
html body .list a .overlay {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: url('rgba.php/rgba(0,0,0,.6)');
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .list a .overlay .pad {
  padding: 15px 20px;
}
html body .list a .overlay .pad .titulo {
  position: absolute;
  top: auto;
  bottom: 15px;
  left: 20px;
  color: #fff;
  font-family: 'Ebrima', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html body .list a:hover .overlay {
  opacity: 1;
}
html body .paginacao {
  margin-top: 55px;
  margin-bottom: 70px;
  height: 18px;
}
html body .paginacao ul.pagination {
  width: 100%;
  height: 18px;
  text-align: center;
}
html body .paginacao ul.pagination li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  text-align: center;
}
html body .paginacao ul.pagination li.disabled {
  display: none;
}
html body .paginacao ul.pagination li.active {
  background-color: #fbb12f;
  color: #727376;
  height: 18px;
  line-height: 18px;
  font-family: 'Ebrima', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
html body .paginacao ul.pagination li a {
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin: 1px;
  height: 16px;
  line-height: 16px;
  text-decoration: none;
  display: block;
  background-color: #727376;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .paginacao ul.pagination li a:hover {
  background-color: #fbb12f;
  color: #727376;
}
html body .container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

}
html body .container aside {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  width: 200px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .container aside ul {
  width: 170px;
  padding: 15px 0;
}
html body .container aside ul li {
  display: block;
  height: 18px;
  margin: 7px 0;
}
html body .container aside ul li a {
  text-decoration: none;
  padding-left: 20px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container aside ul li a:active,
html body .container aside ul li a:visited {
  color: #727376;
}
html body .container aside ul li a:hover,
html body .container aside ul li a.ativo {
  background-color: #fbb12f;
}
html body .container section {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 759px;
  border-left: 1px #F0F0F0 solid;
  font-size: 0;
  padding-left: 20px;
  padding-bottom: 110px;
}
html body .container section #galeria {
  margin-bottom: 55px;
}
html body .container section #galeria #ampliadas {
  margin-bottom: 6px;
  width: 760px;
  height: 436px;
  overflow: hidden;
  position: relative;
}
html body .container section #galeria #ampliadas img {
  position: absolute;
  top: 0;
  left: 0;
}
html body .container section #galeria #galeria-nav a {
  width: 72px;
  height: 72px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container section .info .imagem-marca {
  width: 180px;
  padding: 15px 0;
  background: #F0F0F0;
  float: right;
}
html body .container section .info .imagem-marca img {
  display: block;
  margin: 0 auto;
}
html body .container section .info .texto h2 {
  margin: 25px 0 7px 0 !important;
  color: #fbb12f;
  font-family: 'Ebrima', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
html body .container section .info .texto p {
  color: #727376 !important;
  font-family: 'Ebrima', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 170% !important;
  max-width: 530px !important;
  margin-bottom: 15px !important;
}
