@import 'vars.less';
html{
	body{
		.list{
			font-size:0;
			a{
				.inline;
				width:240px;
				height:240px;
				margin:0 6px 6px 0;
				position:relative;
				&:nth-child(4n){margin-right:0;}
				img{
					position:absolute;
					top:0;
					left:0;
					max-width:240px;
					max-height:240px;
					z-index:1;
				}
				.overlay{
					width:240px;
					height:240px;
					position:absolute;
					top:0;
					left:0;
					z-index:9;
					background:url('rgba.php/rgba(0,0,0,.6)');
					background:rgba(0,0,0,.6);
					opacity:0;
					.transition;
					.pad{
						padding:15px 20px;
						.titulo{
							position:absolute;
							top:auto;
							bottom:15px;
							left:20px;
							color:#fff;
							.ebrima(18px);
						}
					}
				}
				&:hover{
					.overlay{
						opacity:1;
					}
				}
			}
		}
		.paginacao{
			margin-top:55px;
			margin-bottom:70px;
			height:18px;
			ul.pagination{
				width:100%;
				height:18px;
				text-align: center;
				li{
					.inline;
					width:18px;
					height:18px;
					margin:0 5px;
					text-align: center;
					&.disabled{display:none;}
					&.active{
						background-color:@amarelo;
						color:@cinza;
						height:18px;
						line-height:18px;
						.ebrima(14px, bold);
					}
					a{
						.ebrima(11px);
						margin:1px;
						height:16px;
						line-height:16px;
						text-decoration:none;
						display:block;
						background-color:@cinza;
						color:#fff;
						.transition;
						&:active, &:visited{}
						&:hover{
							background-color: @amarelo;
							color:@cinza;
						}
					}
				}
			}
		}
		.container{
			letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
		    *letter-spacing: normal; /* reset IE < 8 */
		    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
		    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
		    aside{
				letter-spacing: normal;
			    word-spacing: normal;
			    vertical-align: top;
			    text-rendering: auto;
				width:200px;
				.inline;
				ul{
					width:170px;
					padding:15px 0;
					li{
						display:block;
						height:18px;
						margin:7px 0;
						a{
							text-decoration:none;
							padding-left:20px;
							height:18px;
							line-height:20px;
							display:block;
							.ebrima(13px, bold);
							color:@cinza;
							background-color:#FFF;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover, &.ativo{
								background-color:@amarelo;
							}
						}
					}
				}
			}
			section{
				letter-spacing: normal;
			    word-spacing: normal;
			    vertical-align: top;
			    text-rendering: auto;
			    .inline;
			    width:759px;
			    border-left:1px #F0F0F0 solid;
			    font-size:0;
			    padding-left:20px;
			    padding-bottom:110px;
				#galeria{
					margin-bottom:55px;
					#ampliadas{
						margin-bottom:6px;
						width:760px;
						height:436px;
						overflow:hidden;
						position:relative;
						img{
							position:absolute;
							top:0;
							left:0;
						}
					}
					#galeria-nav{
						a{
							width:72px;
							height:72px;
							margin-right:4px;
							margin-bottom:4px;
							.inline;
							.transition;
							&:active, &:visited{}
							&:hover{}
						}
					}
				}
				.info{
					.imagem-marca{
						width:180px;
						padding:15px 0;
						background:#F0F0F0;
						float:right;
						img{
							display:block;
							margin: 0 auto;
						}
					}
					.texto{
						h2{
							margin:25px 0 7px 0 !important;
							color:@amarelo;
							.ebrima(16px, bold) !important;
						}
						p{
							color: #727376 !important;
							.ebrima(14px) !important;
							line-height : 170% !important;
							max-width:530px !important;
							margin-bottom: 15px !important;
						}
					}
				}
			}
		}
	}
}
