.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body section {
  margin-left: 200px;
  border-left: 1px #F1F1F1 solid;
  padding-left: 20px;
  width: 760px;
}
html body section h1 {
  font-family: 'Ebrima', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #727376;
  padding: 35px 0 30px 28px;
}
html body section .lista-clientes {
  padding-bottom: 70px;
  font-size: 0;
}
html body section .lista-clientes .cliente {
  width: 25%;
  margin: 25px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body section .lista-clientes .cliente img {
  max-width: 70%;
  max-height: 70px;
  display: block;
  margin: 0 auto;
}
