@import 'vars.less';
html{
	body{
		section{
			margin-left:200px;
			border-left:1px #F1F1F1 solid;
			padding-left:20px;
			width:760px;
			h1{
				.ebrima(20px);
				color:@cinza;
				padding:35px 0 30px 28px;
			}
			.lista-clientes{
				padding-bottom: 70px;
				font-size:0;
				.cliente{
					width:25%;
					margin:25px 0;
					.inline;
					img{
						max-width:70%;
						max-height:70px;
						display:block;
						margin:0 auto;
					}
				}
			}
		}
	}
}
