@import 'vars.less';
html{
	body{
		section{
			margin-left:200px;
			border-left:1px #F1F1F1 solid;
			padding-left:20px;
			width:760px;
			h1{
				.ebrima(20px);
				color:@cinza;
				padding:35px 0 30px 28px;
			}
			.pure-g{
				padding-left:28px;
				padding-bottom:40px;
				h3{
					color:@amarelo;
					.ebrima(12px);
					margin-bottom:10px;
				}
				form{
					width:215px;
					input[type="text"],
					input[type="email"]{
						height:19px;
						line-height:21px;
						background:#F0F0F0;
						margin:0 0 4px 0;
						padding:2px 5px;
						width:205px;
						border:0;
						.ebrima(13px);
						color:@cinza;
						.placeholder(@cinza);
					}
					textarea{
						background:#F0F0F0;
						margin:0 0 4px 0;
						padding:2px 5px;
						width:205px;
						border:0;
						.ebrima(13px);
						color:@cinza;
						.placeholder(@cinza);
						height:78px;
						resize:none;
						overflow: auto;
					}
					input[type="submit"]{
						background:#CCCCCC;
						color:@cinza;
						text-align: center;
						display:block;
						border:0;
						margin:0;
						height:23px;
						height:25px;
						width:100%;
						padding:0;
						.ebrima(12px);
						cursor:pointer;
						.transition;
						&:hover{
							background-color:@amarelo;
						}
					}
					#arquivo{
						position:relative;
						width:215px;
						height:23px;
						margin:0 0 4px 0;
						display:block;
						input[type="file"]{
							position:absolute;
							width:215px;
							height:23px;
							z-index:1;
						}
						.fake{
							text-align: center;
							z-index:3;
							position:absolute;
							height:23px;
							line-height:25px;
							background:#F0F0F0;
							width:215px;
							border:0;
							.ebrima(13px);
							color:@cinza;
							cursor:pointer;
							.transition;
							&:hover{color:@amarelo;}
						}
					}
				}
				.telefone{
					padding-left:13px;
					color:@cinza;
					.ebrima(18px);
					height:27px;
					line-height:27px;
					background:url('../images/layout/telefone.png') left center no-repeat;
				}
				.email{
					.ebrima(12px);
					padding-left:13px;
					background:url('../images/layout/envelope.png') left center no-repeat;
					a{
						text-decoration:none;
						color:@cinza;
						.transition;
						&:active, &:visited{color:@cinza;}
						&:hover{color:@amarelo;}
					}
				}
			}
		}
	}
}
