.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body section {
  margin-left: 200px;
  border-left: 1px #F1F1F1 solid;
  padding-left: 20px;
  width: 760px;
}
html body section h1 {
  font-family: 'Ebrima', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #727376;
  padding: 35px 0 30px 28px;
}
html body section .pure-g {
  padding-left: 28px;
  padding-bottom: 40px;
}
html body section .pure-g h3 {
  color: #fbb12f;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}
html body section .pure-g form {
  width: 215px;
}
html body section .pure-g form input[type="text"],
html body section .pure-g form input[type="email"] {
  height: 19px;
  line-height: 21px;
  background: #F0F0F0;
  margin: 0 0 4px 0;
  padding: 2px 5px;
  width: 205px;
  border: 0;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #727376;
}
html body section .pure-g form input[type="text"]::-webkit-input-placeholder,
html body section .pure-g form input[type="email"]::-webkit-input-placeholder {
  color: #727376;
}
html body section .pure-g form input[type="text"]:-moz-placeholder,
html body section .pure-g form input[type="email"]:-moz-placeholder {
  color: #727376;
}
html body section .pure-g form input[type="text"]::-moz-placeholder,
html body section .pure-g form input[type="email"]::-moz-placeholder {
  color: #727376;
}
html body section .pure-g form input[type="text"]:-ms-input-placeholder,
html body section .pure-g form input[type="email"]:-ms-input-placeholder {
  color: #727376;
}
html body section .pure-g form textarea {
  background: #F0F0F0;
  margin: 0 0 4px 0;
  padding: 2px 5px;
  width: 205px;
  border: 0;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #727376;
  height: 78px;
  resize: none;
  overflow: auto;
}
html body section .pure-g form textarea::-webkit-input-placeholder {
  color: #727376;
}
html body section .pure-g form textarea:-moz-placeholder {
  color: #727376;
}
html body section .pure-g form textarea::-moz-placeholder {
  color: #727376;
}
html body section .pure-g form textarea:-ms-input-placeholder {
  color: #727376;
}
html body section .pure-g form input[type="submit"] {
  background: #CCCCCC;
  color: #727376;
  text-align: center;
  display: block;
  border: 0;
  margin: 0;
  height: 23px;
  height: 25px;
  width: 100%;
  padding: 0;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body section .pure-g form input[type="submit"]:hover {
  background-color: #fbb12f;
}
html body section .pure-g form #arquivo {
  position: relative;
  width: 215px;
  height: 23px;
  margin: 0 0 4px 0;
  display: block;
}
html body section .pure-g form #arquivo input[type="file"] {
  position: absolute;
  width: 215px;
  height: 23px;
  z-index: 1;
}
html body section .pure-g form #arquivo .fake {
  text-align: center;
  z-index: 3;
  position: absolute;
  height: 23px;
  line-height: 25px;
  background: #F0F0F0;
  width: 215px;
  border: 0;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #727376;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body section .pure-g form #arquivo .fake:hover {
  color: #fbb12f;
}
html body section .pure-g .telefone {
  padding-left: 13px;
  color: #727376;
  font-family: 'Ebrima', sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 27px;
  line-height: 27px;
  background: url('../images/layout/telefone.png') left center no-repeat;
}
html body section .pure-g .email {
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-left: 13px;
  background: url('../images/layout/envelope.png') left center no-repeat;
}
html body section .pure-g .email a {
  text-decoration: none;
  color: #727376;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body section .pure-g .email a:active,
html body section .pure-g .email a:visited {
  color: #727376;
}
html body section .pure-g .email a:hover {
  color: #fbb12f;
}
