@import 'vars.less';

html{
	body{
		.main{
		    #topo{
				width:980px;
				img{
					max-width: 980px;
				}
			}
			.container{
				letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
			    *letter-spacing: normal; /* reset IE < 8 */
			    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
			    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
				aside{
					letter-spacing: normal;
				    word-spacing: normal;
				    vertical-align: top;
				    text-rendering: auto;
					padding-top:15px;
					width:198px;
					.inline;
					ul{
						width:145px;
						li{
							display:block;
							height:18px;
							margin-bottom:2px;
							a{
								text-decoration:none;
								padding-left:20px;
								height:18px;
								line-height:20px;
								display:block;
								.ebrima(12px, bold);
								color:@cinza;
								background-color:#FFF;
								.transition;
								&:active, &:visited{color:@cinza;}
								&:hover, &.ativo{
									background-color:@amarelo;
								}
							}
						}
					}
				}
				section{
					letter-spacing: normal;
				    word-spacing: normal;
				    vertical-align: top;
				    text-rendering: auto;
				    border-left:1px #F0F2F1 solid;
				    width:780px;
				    .inline;
				    .pad{
				    	padding:33px 100px 70px 60px;
						h1{
							.ebrima(20px);
							color:@cinza;
							margin-bottom:25px;
						}
						p{
							margin-bottom:15px;
							.ebrima(14px);
							color:@cinza;
							line-height:170%;
						}				    	
				    }
				}
			}
		}
	}
}