.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main #topo {
  width: 980px;
}
html body .main #topo img {
  max-width: 980px;
}
html body .main .container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

}
html body .main .container aside {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  padding-top: 15px;
  width: 198px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .container aside ul {
  width: 145px;
}
html body .main .container aside ul li {
  display: block;
  height: 18px;
  margin-bottom: 2px;
}
html body .main .container aside ul li a {
  text-decoration: none;
  padding-left: 20px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .container aside ul li a:active,
html body .main .container aside ul li a:visited {
  color: #727376;
}
html body .main .container aside ul li a:hover,
html body .main .container aside ul li a.ativo {
  background-color: #fbb12f;
}
html body .main .container section {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  border-left: 1px #F0F2F1 solid;
  width: 780px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .container section .pad {
  padding: 33px 100px 70px 60px;
}
html body .main .container section .pad h1 {
  font-family: 'Ebrima', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #727376;
  margin-bottom: 25px;
}
html body .main .container section .pad p {
  margin-bottom: 15px;
  font-family: 'Ebrima', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #727376;
  line-height: 170%;
}
