@import 'vars.less';

html{
	body{
		.main{
		    #topo{
				width:980px;
				img{
					max-width: 980px;
				}
			}
			.container{
				letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
			    *letter-spacing: normal; /* reset IE < 8 */
			    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
			    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
				aside{
					letter-spacing: normal;
				    word-spacing: normal;
				    vertical-align: top;
				    text-rendering: auto;
					padding-top:15px;
					width:198px;
					.inline;
					ul{
						width:145px;
						li{
							display:block;
							height:18px;
							margin-bottom:2px;
							a{
								margin:6px 0;								
								text-decoration:none;
								padding-left:20px;
								height:18px;
								line-height:20px;
								display:block;
								.ebrima(15px, bold);
								color:@cinza;
								background-color:#FFF;
								.transition;
								&:active, &:visited{color:@cinza;}
								&:hover, &.ativo{
									background-color:@amarelo;
								}
								&.ativo{
									margin-bottom:0px;
								}
							}
						}
					}
					#sair-btn{
						text-decoration:none;
						padding-left:10px;
						height:18px;
						line-height:20px;
						display:block;
						.ebrima(14px, bold);
						color:@cinza;
						width:60px;
						background-color:#FFF;
						margin-top:60px;
						.transition;
						&:active, &:visited{color:@cinza;}
						&:hover, &.ativo{
							color:@amarelo;
						}
					}
				}
				section{
					letter-spacing: normal;
				    word-spacing: normal;
				    vertical-align: top;
				    text-rendering: auto;
				    border-left:1px #F0F2F1 solid;
				    width:780px;
				    .inline;
				    .pad{
				    	padding:33px 100px 70px 60px;
						h1{
							.ebrima(20px);
							color:@cinza;
							margin-bottom:25px;
						}
						h2{
							.ebrima(17px);
							color:@amarelo;								
						}
						p{
							margin-bottom:15px;
							.ebrima(14px);
							color:@cinza;
							line-height:170%;
						}
						.box-cadastro{
							border:1px #F0F2F1 solid;
							input[type="text"],
							input[type="email"],
							input[type="password"]{background:#F0F2F1;}
						}
						.box-login{
							form{background:#F0F2F1;}
							margin-left:30px;							
						}
						form{
							padding:20px 30px;
							h2{
								color:@amarelo;
								.ebrima(15px);
								margin-bottom:10px;
							}
							.error{
								background-color: #f2dede;
								text-align: center;
								margin:0 0 5px 0;
								padding:3px 5px;
								.ebrima(12px);
							}
							.success{
								background-color: #dff0d8;
								text-align: center;
								margin:0 0 5px 0;
								padding:3px 5px;
								.ebrima(12px);	
							}
							input[type="text"],
							input[type="email"],
							input[type="password"]{
								.ebrima(13px);
								margin:0 0 5px 0;
								padding:3px 5px;
								border:0;
								color:@cinza_menu;
								width:178px;
							}
							input[type="submit"]{
								display:block;
								height:20px;
								line-height:20px;
								width:100%;
								text-align: center;
								color:@cinza_menu;
								color:@cinza;
								border:0;
								margin:0;
								padding:0;
								cursor:pointer;
								.transition;
								.ebrima(13px);
								&:hover{
									background:@amarelo;
									color:#fff;
								}
							}
						}
						.listaArquivos{
							font-size: 0;
							a{
								text-decoration: none;
								.inline;
								width:140px;
								margin:0 5px 5px 0;
								&:nth-child(4n){margin-right:0;}
								&:hover{
									.titulo{
										color:@amarelo;
									}
									.imagem{
										background:url('../images/layout/icone-download.png') #606062 center center no-repeat;
									}

								}
								.imagem{
									.transition;
									height:150px;
									background:url('../images/layout/icone-download.png') #F0F0F0 center center no-repeat;
								}
								.titulo{
									.transition;
									padding:10px 14px;
									line-height:120%;
									background:#606062;
									color:#fff;
									.ebrima(13px);
								}
							}
						}
				    }
				}
			}
		}
	}
}