.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main #topo {
  width: 980px;
}
html body .main #topo img {
  max-width: 980px;
}
html body .main .container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

}
html body .main .container aside {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  padding-top: 15px;
  width: 198px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .container aside ul {
  width: 145px;
}
html body .main .container aside ul li {
  display: block;
  height: 18px;
  margin-bottom: 2px;
}
html body .main .container aside ul li a {
  margin: 6px 0;
  text-decoration: none;
  padding-left: 20px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .container aside ul li a:active,
html body .main .container aside ul li a:visited {
  color: #727376;
}
html body .main .container aside ul li a:hover,
html body .main .container aside ul li a.ativo {
  background-color: #fbb12f;
}
html body .main .container aside ul li a.ativo {
  margin-bottom: 0px;
}
html body .main .container aside #sair-btn {
  text-decoration: none;
  padding-left: 10px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #727376;
  width: 60px;
  background-color: #FFF;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .container aside #sair-btn:active,
html body .main .container aside #sair-btn:visited {
  color: #727376;
}
html body .main .container aside #sair-btn:hover,
html body .main .container aside #sair-btn.ativo {
  color: #fbb12f;
}
html body .main .container section {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  border-left: 1px #F0F2F1 solid;
  width: 780px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .container section .pad {
  padding: 33px 100px 70px 60px;
}
html body .main .container section .pad h1 {
  font-family: 'Ebrima', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #727376;
  margin-bottom: 25px;
}
html body .main .container section .pad h2 {
  font-family: 'Ebrima', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #fbb12f;
}
html body .main .container section .pad p {
  margin-bottom: 15px;
  font-family: 'Ebrima', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #727376;
  line-height: 170%;
}
html body .main .container section .pad .box-cadastro {
  border: 1px #F0F2F1 solid;
}
html body .main .container section .pad .box-cadastro input[type="text"],
html body .main .container section .pad .box-cadastro input[type="email"],
html body .main .container section .pad .box-cadastro input[type="password"] {
  background: #F0F2F1;
}
html body .main .container section .pad .box-login {
  margin-left: 30px;
}
html body .main .container section .pad .box-login form {
  background: #F0F2F1;
}
html body .main .container section .pad form {
  padding: 20px 30px;
}
html body .main .container section .pad form h2 {
  color: #fbb12f;
  font-family: 'Ebrima', sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}
html body .main .container section .pad form .error {
  background-color: #f2dede;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 3px 5px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main .container section .pad form .success {
  background-color: #dff0d8;
  text-align: center;
  margin: 0 0 5px 0;
  padding: 3px 5px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main .container section .pad form input[type="text"],
html body .main .container section .pad form input[type="email"],
html body .main .container section .pad form input[type="password"] {
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 3px 5px;
  border: 0;
  color: #606062;
  width: 178px;
}
html body .main .container section .pad form input[type="submit"] {
  display: block;
  height: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  color: #606062;
  color: #727376;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body .main .container section .pad form input[type="submit"]:hover {
  background: #fbb12f;
  color: #fff;
}
html body .main .container section .pad .listaArquivos {
  font-size: 0;
}
html body .main .container section .pad .listaArquivos a {
  text-decoration: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 140px;
  margin: 0 5px 5px 0;
}
html body .main .container section .pad .listaArquivos a:nth-child(4n) {
  margin-right: 0;
}
html body .main .container section .pad .listaArquivos a:hover .titulo {
  color: #fbb12f;
}
html body .main .container section .pad .listaArquivos a:hover .imagem {
  background: url('../images/layout/icone-download.png') #606062 center center no-repeat;
}
html body .main .container section .pad .listaArquivos a .imagem {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 150px;
  background: url('../images/layout/icone-download.png') #f0f0f0 center center no-repeat;
}
html body .main .container section .pad .listaArquivos a .titulo {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 10px 14px;
  line-height: 120%;
  background: #606062;
  color: #fff;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
