.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main {
  padding-bottom: 55px;
}
html body .main #banners-wrapper {
  width: 980px;
  height: 550px;
  margin-bottom: 50px;
  position: relative;
}
html body .main #banners-wrapper #imagens {
  width: 980px;
  height: 490px;
  position: relative;
}
html body .main #banners-wrapper #imagens a {
  display: block;
}
html body .main #banners-wrapper #imagens img {
  max-width: 980px;
  max-height: 490px;
}
html body .main #banners-wrapper #slides-nav {
  width: 240px;
  position: absolute;
  padding: 15px 10px;
  top: 490px;
  left: 720px;
}
html body .main #banners-wrapper #slides-nav a {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #606062;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #banners-wrapper #slides-nav a.activeSlide {
  background: #fbb12f;
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
html body .main #banners-wrapper #slides-nav a:hover {
  background: #fbb12f;
}
html body .main #banners-wrapper #texto {
  padding: 25px 40px;
  width: 640px;
  background: #606062;
  color: #fff;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: -60px;
  position: relative;
  z-index: 999;
  height: 70px;
  line-height: 170%;
  overflow: hidden;
}
html body .main #chamadas a {
  width: 250px !important;
  color: #727376;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #chamadas a:active,
html body .main #chamadas a:visited {
  color: #727376;
}
html body .main #chamadas a:nth-child(n+2) {
  margin-left: 115px;
}
html body .main #chamadas a .pad {
  line-height: 100%;
  border-left: 1px #999999 solid;
}
html body .main #chamadas a .pad .texto {
  padding: 30px 20px 20px 12px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main #chamadas a .pad img {
  display: block;
  max-width: 250px;
  max-height: 140px;
}
html body .main #chamadas a:hover {
  color: #fbb12f;
}
html body .main #chamadas a:hover .pad {
  border-color: #fbb12f;
}
