@import 'vars.less';

html{
	body{
		.main{
			padding-bottom:55px;
			#banners-wrapper{
				width:980px;
				height:550px;
				margin-bottom:50px;
				position:relative;
				#imagens{
					width:980px;
					height:490px;
					position:relative;
					a{
						display:block;
					}
					img{
						max-width:980px;
						max-height:490px;
					}

				}
				#slides-nav{
					width:240px;
					position:absolute;
					padding:15px 10px;
					top:490px;
					left:720px;
					a{
						width:10px;
						height:10px;
						margin:0 4px;
						background:#606062;
						.arredondada(100%);
						.inline;
						.transition;
						&.activeSlide{
							background:#fbb12f;
							-moz-transform: scale(1.3);
							-webkit-transform: scale(1.3);
							-o-transform: scale(1.3);
							-ms-transform: scale(1.3);
							transform: scale(1.3);
						}
						&:hover{
							background:#fbb12f;
						}
					}
				}
				#texto{
					padding:25px 40px;
					width:640px;
					background:#606062;
					color:#fff;
					.ebrima(12px);
					margin-top:-60px;
					position:relative;
					z-index: 999;
					height:70px;
					line-height:170%;
					overflow: hidden;
				}
			}
			#chamadas{
				a{
					width:250px !important;
					&:active, &:visited{color:@cinza;}
					color:@cinza;
					text-decoration:none;
					.transition;
					.inline;
					&:nth-child(n+2){margin-left:115px;}
					.pad{
						line-height:100%;
						border-left:1px #999999 solid;
						.texto{
							padding:30px 20px 20px 12px;
							.ebrima(12px);
						}
						img{
							display:block;
							max-width:250px;
							max-height:140px;
						}
					}
					&:hover{
						color:@amarelo;
						.pad {border-color:@amarelo;}
					}
				}
			}
		}
	}
}