@import 'vars.less';

html{
	body{
		.container{
			letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
		    *letter-spacing: normal; /* reset IE < 8 */
		    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
		    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
		    padding-bottom:110px;
			aside{
				letter-spacing: normal;
			    word-spacing: normal;
			    vertical-align: top;
			    text-rendering: auto;
				width:200px;
				.inline;
				ul{
					width:170px;
					padding:15px 0;
					li{
						display:block;
						height:18px;
						a{
							margin:6px 0;
							text-decoration:none;
							padding-left:20px;
							height:18px;
							line-height:20px;
							display:block;
							.ebrima(15px, bold);
							color:@cinza;
							background-color:#FFF;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover, &.ativo{
								background-color:@amarelo;
							}
							&.ativo{
								margin-bottom:0px;
							}
						}
					}
					ul.sub{
						.transition;
						&.escondido{
							height:0;
							padding:0;
							margin:0;
							overflow: hidden;
						}
						padding:2px 0 5px 0;
						li{
							display:block;
							height:18px;
							margin-bottom:2px;
							a{
								text-decoration:none;
								padding-left:27px;
								height:18px;
								line-height:20px;
								display:block;
								.ebrima(11px, bold);
								color:@cinza;
								background-color:#FFF;
								.transition;
								&:active, &:visited{color:@cinza;}
								&:hover, &.ativo{
									color:@amarelo;
								}
							}
						}
						ul.subprod{
							.transition;
							&.escondido{
								height:0;
								padding:0;
								margin:0;
								overflow: hidden;
							}
							padding:1px 0;
							li{
								display:block;
								height:18px;
								a{
									text-decoration:none;
									padding-left:40px;
									height:16px;
									line-height:18px;
									display:block;
									.ebrima(11px);
									color:@cinza;
									background-color:#FFF;
									.transition;
									&:active, &:visited{color:@cinza;}
									&:hover, &.ativo{
										color:@amarelo;
									}
								}
							}	
						}
					}
				}
			}
			section{
				letter-spacing: normal;
			    word-spacing: normal;
			    vertical-align: top;
			    text-rendering: auto;
			    .inline;
			    width:779px;
			    border-left:1px #F0F0F0 solid;
			    font-size:0;
				#grid-destaques{
					.box{
						margin-right:4px;
						margin-bottom: 5px;
						&:nth-of-type(3),
						&:nth-of-type(4){
							.coluna-estreita{margin-left:5px !important; margin-right:0 !important;}							
						}
						.inline;
						.coluna-estreita{
							.inline;
							width:124px;
							margin-right:5px;
							a{
								&:first-child{margin-bottom:8px;}
							}
						}
						.coluna-larga{
							.inline;
							width:256px;
							a{display:block;}
						}
						a{
							position:relative;
							display:block;
							.overlay{
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								opacity:0;
								background:url('rgba.php/rgba(0,0,0,.6)');
								background:rgba(0,0,0,.6);
								.transition;
								.pad{
									padding:20px;
									.titulo{
										.ebrima(16px);
										color:#fff;
									}
									.olho{
										margin-top:10px;
										.ebrima(12px);
										color:#fff;
										line-height:150%;
									}
								}
							}
							&:hover, &.fakeHover{
								.overlay{
									opacity:1;
								}
							}
						}
					}
				}
				#detalhes{
					padding-left:20px;
					#imagem-topo{
						width:780px;
						height: 220px;
						overflow: hidden;
						position:relative;
						margin-bottom:20px;
						img{
							position:absolute;
							top:0;
							left:0;
							max-width:780px;
						}
						.titulo{
							position:absolute;
							bottom:0;
							left:0;
							background-color: @amarelo;
							color:@cinza;
							height:22px;
							line-height:25px;
							.ebrima(12px);
							padding:0 40px 0 20px;
						}
					}
				}
				#galeria{
					a{
						&:nth-child(4n){
							margin-right:0;
						}
						margin:0 13px 13px 0;
						.inline;
						width:180px;
						min-height: 180px;
						overflow:hidden;
						position:relative;
						text-decoration:none;
						.transition;
						img{
							max-width:180px;
							max-height: 180px;
						}
						.legenda{
							padding:3px 0;
							display:block;
							text-align:center;
							color: #727376;
							border-top:1px #cacaca solid;
							margin-top:5px;
							margin-bottom:15px;
							.ebrima(13px);
							.transition;
						}
						&:before{
							content:"";
							position:absolute;
							width:100%;
							height:180px;
							top:0;
							left:0;
							opacity:0;
							background:url('rgba.php/rgba(0,0,0,.6)');
							background:rgba(0,0,0,.6);
							.transition;
						}
						&:hover{
							&:before{opacity:1;}							
						}
					}
				}
				.texto{
					p{
						.ebrima(14px) !important;
						margin-bottom: 15px !important;						
						color: #727376 !important;
						line-height: 170% !important;
					}
				}
				h2{
					margin:25px 0 7px 0 !important;
					color:@amarelo;
					.ebrima(16px, bold) !important;
				}
				.acabamentos{
					a{
						margin-right:10px;
					}
				}
			}
		}
	}
}