.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  padding-bottom: 110px;
}
html body .container aside {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  width: 200px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .container aside ul {
  width: 170px;
  padding: 15px 0;
}
html body .container aside ul li {
  display: block;
  height: 18px;
}
html body .container aside ul li a {
  margin: 6px 0;
  text-decoration: none;
  padding-left: 20px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container aside ul li a:active,
html body .container aside ul li a:visited {
  color: #727376;
}
html body .container aside ul li a:hover,
html body .container aside ul li a.ativo {
  background-color: #fbb12f;
}
html body .container aside ul li a.ativo {
  margin-bottom: 0px;
}
html body .container aside ul ul.sub {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 2px 0 5px 0;
}
html body .container aside ul ul.sub.escondido {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html body .container aside ul ul.sub li {
  display: block;
  height: 18px;
  margin-bottom: 2px;
}
html body .container aside ul ul.sub li a {
  text-decoration: none;
  padding-left: 27px;
  height: 18px;
  line-height: 20px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container aside ul ul.sub li a:active,
html body .container aside ul ul.sub li a:visited {
  color: #727376;
}
html body .container aside ul ul.sub li a:hover,
html body .container aside ul ul.sub li a.ativo {
  color: #fbb12f;
}
html body .container aside ul ul.sub ul.subprod {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 1px 0;
}
html body .container aside ul ul.sub ul.subprod.escondido {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html body .container aside ul ul.sub ul.subprod li {
  display: block;
  height: 18px;
}
html body .container aside ul ul.sub ul.subprod li a {
  text-decoration: none;
  padding-left: 40px;
  height: 16px;
  line-height: 18px;
  display: block;
  font-family: 'Ebrima', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #727376;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container aside ul ul.sub ul.subprod li a:active,
html body .container aside ul ul.sub ul.subprod li a:visited {
  color: #727376;
}
html body .container aside ul ul.sub ul.subprod li a:hover,
html body .container aside ul ul.sub ul.subprod li a.ativo {
  color: #fbb12f;
}
html body .container section {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 779px;
  border-left: 1px #F0F0F0 solid;
  font-size: 0;
}
html body .container section #grid-destaques .box {
  margin-right: 4px;
  margin-bottom: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .container section #grid-destaques .box:nth-of-type(3) .coluna-estreita,
html body .container section #grid-destaques .box:nth-of-type(4) .coluna-estreita {
  margin-left: 5px !important;
  margin-right: 0 !important;
}
html body .container section #grid-destaques .box .coluna-estreita {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 124px;
  margin-right: 5px;
}
html body .container section #grid-destaques .box .coluna-estreita a:first-child {
  margin-bottom: 8px;
}
html body .container section #grid-destaques .box .coluna-larga {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 256px;
}
html body .container section #grid-destaques .box .coluna-larga a {
  display: block;
}
html body .container section #grid-destaques .box a {
  position: relative;
  display: block;
}
html body .container section #grid-destaques .box a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url('rgba.php/rgba(0,0,0,.6)');
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container section #grid-destaques .box a .overlay .pad {
  padding: 20px;
}
html body .container section #grid-destaques .box a .overlay .pad .titulo {
  font-family: 'Ebrima', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
html body .container section #grid-destaques .box a .overlay .pad .olho {
  margin-top: 10px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  line-height: 150%;
}
html body .container section #grid-destaques .box a:hover .overlay,
html body .container section #grid-destaques .box a.fakeHover .overlay {
  opacity: 1;
}
html body .container section #detalhes {
  padding-left: 20px;
}
html body .container section #detalhes #imagem-topo {
  width: 780px;
  height: 220px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
html body .container section #detalhes #imagem-topo img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 780px;
}
html body .container section #detalhes #imagem-topo .titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fbb12f;
  color: #727376;
  height: 22px;
  line-height: 25px;
  font-family: 'Ebrima', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 0 40px 0 20px;
}
html body .container section #galeria a {
  margin: 0 13px 13px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 180px;
  min-height: 180px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container section #galeria a:nth-child(4n) {
  margin-right: 0;
}
html body .container section #galeria a img {
  max-width: 180px;
  max-height: 180px;
}
html body .container section #galeria a .legenda {
  padding: 3px 0;
  display: block;
  text-align: center;
  color: #727376;
  border-top: 1px #cacaca solid;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: 'Ebrima', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container section #galeria a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180px;
  top: 0;
  left: 0;
  opacity: 0;
  background: url('rgba.php/rgba(0,0,0,.6)');
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .container section #galeria a:hover:before {
  opacity: 1;
}
html body .container section .texto p {
  font-family: 'Ebrima', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 15px !important;
  color: #727376 !important;
  line-height: 170% !important;
}
html body .container section h2 {
  margin: 25px 0 7px 0 !important;
  color: #fbb12f;
  font-family: 'Ebrima', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
html body .container section .acabamentos a {
  margin-right: 10px;
}
